<ProgramInfo>
  <RequiredInfo>
    <FriendlyName>TSR310_test_with_SmartObject</FriendlyName>
    <SystemName>TSR310_test_with_SmartObject</SystemName>
    <EntryPoint>TSR310_test_with_SmartObject</EntryPoint>
    <MinFirmwareVersion>1.009.0029</MinFirmwareVersion>
    <ProgramTool>SIMPL# Plugin</ProgramTool>
    <DesignToolId>5</DesignToolId>
    <ProgramToolId>5</ProgramToolId>
    <ArchiveName />
  </RequiredInfo>
  <OptionalInfo>
    <CompiledOn>May182018</CompiledOn>
    <CompilerRev>1.0.0.14062</CompilerRev>
  </OptionalInfo>
  <Plugin>
    <Version>Crestron.SIMPLSharp, Version=2.0.55.0, Culture=neutral, PublicKeyToken=812d080f93e2de10</Version>
    <Include4.dat>2.08.016</Include4.dat>
  </Plugin>
</ProgramInfo>
